*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    opacity: 0.7;
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

/* Button animation moving from Bottom */
@keyframes moveBtnBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

html {
  font-size: 15px; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666;
  padding: 2rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1.5rem; }
  .heading-primary--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-in-out;
    /* animation-name: moveInLeft;
    animation-duration: 3000ms;
    animation-iteration-count: 3;
    animation-delay: 1000ms; 
     */ }
  .heading-primary--sub {
    display: block;
    font-size: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-weight: 300;
    animation: moveInRight 1s ease-in-out;
    /* animation-name: moveInRight;
    animation-duration: 3000ms;
    animation-delay: 1000ms; */ }

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .1rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.2rem 0.4rem 2rem rgba(0, 0, 0, 0.6); }

.heading-tertiary {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 350; }

.paragraph {
  font-size: 1rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-big {
  margin-bottom: 4rem; }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2.3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  animation: moveBtnBottom 1s ease-in-out; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.3);
    opacity: 0; }

.btn:active {
  transform: translate(-1px);
  box-shadow: 0 5px 20px rgba(102, 102, 102, 0.4); }

.btn--white {
  background-color: #fff;
  color: #666; }
  .btn--white::after {
    background: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveBtnBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.2rem;
  color: #28b485;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #28b485;
  padding: 3px; }

.btn-text:hover {
  background-image: linear-gradient(to bottom, #28b485, #55c57a);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translate(0); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 35rem;
  position: relative; }
  .card__side {
    height: 35rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .3rem;
    overflow: hidden;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(180deg, #0ccaca, #056661); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 18rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: linear-gradient(180deg, #0ccaca, #056661), url("../img/nat5.jpeg");
      border-bottom: 0.1rem solid #056661; }
    .card__picture--2 {
      background-image: url("../img/nat6.jpeg"); }
    .card__picture--3 {
      background-image: url("../img/nat7.jpeg"); }
  .card__heading {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 13.8rem;
    right: 0;
    width: 70%; }
  .card__heading-span {
    padding: 1.3rem 1rem; }
    .card__heading-span--1 {
      background-image: linear-gradient(180deg, rgba(12, 202, 202, 0.8), rgba(5, 102, 97, 0.8)); }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    z-index: 10;
    outline-offset: .5rem; }
    .composition__photo--p1 {
      left: 0;
      top: -1.5rem; }
    .composition__photo--p2 {
      right: 0;
      top: 4rem; }
    .composition__photo--p3 {
      left: 15%;
      top: 8rem; }
    .composition__photo:hover {
      transform: scale(1.3) translateY(-0.6px);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
      z-index: 20;
      outline: 0.3rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.1rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.15);
  transition: transform .2s; }
  .feature-box__icon {
    font-size: 4rem;
    margin-bottom: .2rem;
    display: inline-block;
    background: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .1rem; }
  .feature-box:hover {
    transform: translateY(-1.2rem) scale(1.03);
    box-shadow: 0 0.6rem 5rem rgba(0, 0, 0, 0.19); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.788), rgba(40, 180, 133, 0.801)), url("../img/header_background.jpeg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 90%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 3rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .col-1-of-2 {
    width: calc((100% - 3rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 3rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 *((100% - 2 * 3rem) / 3) +  3rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 3rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 3rem) / 4) + 3rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -20vh; }

.section-features {
  padding: 10rem;
  background-image: linear-gradient(to right bottom, rgba(85, 197, 122, 0.788), rgba(40, 180, 133, 0.801)), url("../img/nat4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -8rem; }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -12vh; }
