html {
  font-size: 15px;
}

body {
  font-family: $font-stack;
  font-weight: 400;
  line-height: 1.7;
  color:$color-grey;
  padding: 2rem;
}

.heading-primary{
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1.5rem;
  &--main {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-in-out;
    /* animation-name: moveInLeft;
    animation-duration: 3000ms;
    animation-iteration-count: 3;
    animation-delay: 1000ms; 
     */
  }

  &--sub {
    display: block;
    font-size: 1.4rem;
    text-transform: capitalize;
    letter-spacing: 10px;
    font-weight: 300;
    animation: moveInRight 1s ease-in-out;
  
    /* animation-name: moveInRight;
    animation-duration: 3000ms;
    animation-delay: 1000ms; */
  }
}
