@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .3rem;
}

// MEDIA QUERY MANAGER 
/* 
  0 - 600px : Phones
  600px - 900px: Tablet portrait
  900px - 1200px: Tablet Landscape or mini-pc
  900px - 1200px: Tablet Landscape or mini-pc
  [1200 - 1800 px] Normal styles applies
  1800px --> Big Screen
  
  Breakpoint choices:
  -phone  <= 600px or 37.5 em
  -tab-port <= 900px or 56.25em  --tablet in portrait
  -tab-land  <= 1200px or  75 em --tablet in landscape or min pc
  -big-desktop  >= 1800px or 112.5em --big screen size
*/

@mixin respond($breakpoint) {
  @if $breakpoint=='phone' {
    @media (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint=='tab-port' {
    @media (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint=='tab-land' {
    @media (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint=='big-desktop' {
    @media (min-width: 112.5em) {
      @content;
    }
  }

}