// COLORS
$primary-color:  #7ed56f;
$primary-color-light:  #55c57a;
$primary-color-dark: #28b485;

$color-grey: #666; //dark-grey
$color-white:#fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

// card colors

$color-secondary-light: #eeb416;
$color-secondary-dark: #a36009;

$color-tertiary-light: #248f09;
$color-tertiary-dark: #165c05;

$color-quartiary-light: #0ccaca;
$color-quartiary-dark: #056661;

//-----------------------------------------
// TYPOGRAPHY
$font-stack: Arial, Helvetica, sans-serif;
//------------------------------------------

// GRID
$grid-width: 90%;
$gutter-vertical: 4rem;
$gutter-horizontal: 3rem;